/* src/App.css veya başka bir dosya */
.menu {
  width: 25%;
  background-color: #f1f1f1;
  padding: 10px;
  border-right: 2px solid #ddd;
}

.menu button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.menu button:hover {
  background-color: #ccc;
}

.veri-liste {
  width: 70%;
  padding: 20px;
}

.veri-liste ul {
  list-style-type: none;
  padding: 0;
}

.veri-liste li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.error {
  color: red;
}
